

<main>
  <div class="banner" id="banner_one">
    <h1>iPhone SE</h1><br>
    <h2>conta com um processador mais recente e poderoso</h2>
    <a mat-button routerLink="product">Learn more</a>
    
    
  </div>

  <div class="banner" id="banner_two">
    <h1>iPhone 11</h1>
    <h2>o IPhone com preço mais baixo da décima terceira geração.</h2>
    <a mat-button routerLink="product">Learn more</a>
    
  </div>

  <div class="banner" id="banner_three">
    <h1>iPhone 11 Pro</h1>
    <h2>Revolucionário sistema de câmera tripla que amplia possibilidades</h2>
    <p><a routerLink="product">Learn more</a></p>
    
  </div>

  <div class="category">
    <div class="box" id="box1">
      <h1>Iphone 12</h1>
      <h2>A14 Bionic, o chip mais rápido em um smartphone</h2> <br>
      <p><a routerLink="product">Learn more</a></p>
    </div>
    <div class="box" id="box2">
      <h1>Watch</h1>
      <p class="label">Series 5</p>
      <h2>conta com um recurso de tela sempre ativa</h2>
      <p><a routerLink="product">Learn more </a></p>
    </div>
  </div>
  <div class="category">
    <div class="box" id="box3">
      <h1>MacBook Pro</h1>
      <h2>Com muita praticidade.</h2> <br>
      <p><a routerLink="product">Learn more ></a></p>
    </div>
    <div class="box" id="box4">
      <h1>iPad Pro</h1>
      <h2>Agora com mais potencia.</h2>
      <p><a routerLink="product">Learn more ></a></p>
    </div>
  </div>
</main>


